

.back {
  background:url(src\assets\main.jpg);
    background-size: cover;
    height:100vh;
    width:98vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }



